.container{
display:flex;
flex-direction:row;
}
.div1 img{
width:100%;
height:100vh;
}
.div1{
width:50%;
text-align:center;
align-items:center;
height:100vh;
}
.div2{
width:50%;
text-align:center;
align-items:center;
height:100vh;
}
.button{
fontSize:20;
}
h1{
color:"black";
margin-top:35%;
}
.image{
height:4%;
width:4%;
}
.image2{
height:8%;
width:8%;
}
iframe{
width:0 !important;
height:0 !important;
}